{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-col md:flex-row items-center justify-center w-full max-w-4xl p-8 mx-auto">
        <div class="md:w-1/2 p-4 flex justify-center mb-8 md:mb-0">
           <img src="{% static 'images/Screenshot 2025-09-11 012659.png' %}" 
     alt="Golden Bull and Gold Bars" 
     class="w-full h-auto max-w-sm rounded-lg shadow-lg">

        </div>

        <div class="md:w-1/2 p-4">
            <div class="flex flex-col items-center">
                <h1 class="text-xl font-bold text-yellow-400 mb-6">Login</h1>

                <form method="post" class="w-full max-w-sm">
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        <label for="email" class="block text-black-300 font-semibold mb-2">E-mail Id</label>
                        <input type="email" id="email" name="email" class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-md text-white focus:outline-none focus:ring-2 focus:ring-yellow-400">
                    </div>

                    <div class="mb-2">
                        <label for="password" class="block text-black-300 font-semibold mb-2">Password</label>
                        <input type="password" id="password" name="password" class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-md text-white focus:outline-none focus:ring-2 focus:ring-yellow-400">
                    </div>
                    
                    <div class="text-right mb-6">
                        <a href="#" class="text-xs text-yellow-400 hover:underline">Forgot Your Password?</a>
                    </div>

                    <a href="{% url 'home' %}" 
   class="w-full inline-block text-center bg-gray-700 text-yellow-400 font-bold py-2 px-4 rounded-md hover:bg-gray-600 transition-colors focus:outline-none focus:ring-2 focus:ring-yellow-400">
    Login
</a>

                </form>

                <p class="text-center text-gray-400 mt-4 text-sm">
                    New Customer? 
                    <a href="{% url 'register' %}" class="text-yellow-400 hover:underline font-semibold">Create Your Account</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
